Exercises in https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/cohorts/2024/01-intro/homework.md

# Importing libraries

In [64]:
import pandas as pd
import numpy as np

# Q1. Pandas version

In [4]:
pd.__version__

'2.2.3'

# Getting the data

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [8]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

# Q2. Records count

In [10]:
df.shape

(2160, 12)

In [ ]:
# A: there is 2160 records and 12 columns.

# Q3. Laptop brands

In [12]:
df.Brand.nunique()

27

In [13]:
df.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [14]:
# A: 27 laptop brands

# Q4. Missing values

In [16]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [17]:
nulls_per_columns = df.isna().sum()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [ ]:
# A: 3 columns

# Q5. Maximum final price

In [25]:
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

In [ ]:
# A: 3936

# Q6. Medium value of Screen

- Find the median value of Screen column in the dataset.
- Next, calculate the most frequent value of the same Screen column.
- Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
- Now, calculate the median value of Screen once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

Yes
No

In [30]:
df.Screen.mean()

15.168112244897959

In [31]:
df.Screen.median()

15.6

In [34]:
df.Screen.value_counts()

Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.50      19
13.40      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
14.40       6
12.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.10       1
10.95       1
Name: count, dtype: int64

In [35]:
df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [37]:
df.Screen.isna().sum()

4

In [50]:
df['Screen'] = df['Screen'].fillna(df.Screen.mode()[0])

In [51]:
df['Screen'].isna().sum()

0

In [53]:
df.Screen.median()

15.6

In [54]:
# The median didnt change.

# Q7. Sum of weights

- Select all the "Innjoo" laptops from the dataset.
- Select only columns RAM, Storage, Screen.
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Compute the inverse of XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the sum of all the elements of the result?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

0.43
45.29
45.58
91.30

In [93]:
X = np.array(df[df.Brand == 'Innjoo'][['RAM', 'Storage', 'Screen']])

In [104]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [94]:
X_T = X.T

In [95]:
XTX = X_T.dot(X)

In [96]:
XTX_inv = np.linalg.inv(XTX)

In [97]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [106]:
w = XTX_inv.dot(X_T).dot(y)

In [107]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [108]:
w.sum()

91.2998806299557

In [110]:
# A: 91.30